#topMenu {
        height: 30px;
        width: 100%;
        background-color: #505050;
}
#topMenu ul li {
        list-style: none;
        color: black;
        float: left;
        line-height: 30px;
        vertical-align: middle;
        text-align: center;
        width: 25%;
        margin: 0 auto;
}
#topMenu .menuLink {
        text-decoration:none;
        color: white;
        display: block;
        width: 50%;
        font-size: 18px;
        font-weight: bold;
        margin: 0 auto;
}
#topMenu .menuLink:hover {
        color: white;
        background-color: #404040;
}
#country {
        text-decoration-line: underline;
}

a {
        text-decoration-line: none;
        color: black;
}
h1{
        text-align: center;
}
#subimg{
        width: 200px;
        height: auto;
}
#mainimg{
        width: auto;
        height: 270px;
}
#scrimg{
        width: 100%;
        height: 500px;
}

#maintable{
        border-spacing: 20px;
}
img {
        border-radius: 4px;
}
#maintext{
        font-size: 20px;
        font-family: "Trebuchet MS", Dotum, Arial;
}
#divbody {
        width: 85%;
        margin: 0 auto;
        
}
#divhead{
        background-color: #303030;
        color: white;
}
#h1head{
        color: white;
}
footer {
        margin: 0 auto;
        height: 60px;
        width: 90%;
        background-color: #505050;
}